---
import Layout from "@/layouts/Layout.astro";
import PageHeading from "@/components/PageHeading.astro";
---

<Layout title="ホーム">
  <main class="main-content">
    <PageHeading en="HOME" ja="ホーム" />
  </main>
</Layout>
